---

cluster.name: sample_cluster
network.host: 0.0.0.0
transport.host: 0.0.0.0
action.auto_create_index: .monitoring*,.watches,.triggered_watches,.watcher-history*,.ml*
xpack.security.enrollment.enabled: true
